
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="aluno">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="armario">
   <mat-icon>lock</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="camiseta">
  <mat-icon>dry_cleaning</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="pagamento">
  <mat-icon>attach_money</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="wifi">
  <mat-icon>network_wifi</mat-icon>
</button>
</mat-toolbar>
</p>
